In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('data/SeLoger Search Export_20230410_1736.csv')
df.shape

(573, 52)

In [3]:
pd.set_option('display.max_column',52)
df.head()

,id,object,annonce_id,agency_id,agency_page,agency_contact_name,agency_img_url,agency_phone_number,agency_has_email,agency_link,address,area,bedrooms_count,business_unit,contact_is_private_seller,contact_email,description,district,estate_type,estate_type_id,highlighting_level,insee_code,is_exclusive,is_redirected,is_expired,latitude,longitude,monthly_price,main_picture,nature,postal_code,position,picture_count,price,price_per_meter,photos,price_decrease_percent,publication_id,pricing_price_note,ref,rooms,short_description,transaction_type,title,tags,url,video_url,virtual_visit_url,collected_at,input_url,input_max_pages,input_annonce_details
0,3204208,result,200749259,193229,/professionnels/agences-immobilieres/lyon-3eme...,Keller Williams Abondance,https://v.seloger.com/s/width/150/logos/0/t/u/...,07 69 27 36 43,t,http://abondance.kwimmo.fr/,Lyon 1er,18.999023,0,1,f,t,NaN,Croix Paquet,Studio,1,1,NaN,t,NaN,f,NaN,NaN,888,NaN,1,69001,10,7,175000,9211.0,https://v.seloger.com/s/crop/341x256/visuels/1...,NaN,30193229,NaN,NaN,1,Appartement à vendre - Studio- 1 pièce - 19 m²...,2,NaN,"1 pièce, 19 m²",https://www.seloger.com/annonces/achat/apparte...,NaN,https://my.matterport.com/show/?m=cQpwASrd8FN,10 Apr 2023 05:31:38,https://www.seloger.com/list.htm?projects=2&ty...,398,f
1,3204327,result,200717021,501690,/professionnels/agents-commerciaux/ecully-6913...,Laura NOUACER consultant megAgence,https://v.seloger.com/s/width/150/logos/1/r/2/...,06 21 90 58 87,t,https://www.megagence.com/votre-consultant/nou...,Lyon 7ème,19.000000,0,1,f,t,NaN,La Guillotière Sud,Studio,1,1,NaN,f,NaN,f,NaN,NaN,678,NaN,1,69007,9,7,133000,7000.0,https://v.seloger.com/s/crop/341x256/visuels/1...,NaN,30501690,NaN,NaN,1,Appartement à vendre - Je vous présente ce stu...,2,NaN,"1 pièce, 19 m², Étage 6/7, Garage",https://www.seloger.com/annonces/achat/apparte...,NaN,NaN,10 Apr 2023 05:34:56,https://www.seloger.com/list.htm?projects=2&ty...,398,f
2,3204123,result,200778063,102657,/professionnels/agences-immobilieres/lyon-3eme...,HAPI IMMOBILIER,https://v.seloger.com/s/width/150/logos/1/t/v/...,06 80 24 69 31,t,http://www.groupe-hapi.com/,Lyon 6ème,38.999506,0,1,f,t,NaN,NaN,Appartement,1,3,NaN,f,NaN,f,NaN,NaN,1199,NaN,1,69006,14,2,237000,6077.0,https://v.seloger.com/s/crop/341x256/visuels/1...,NaN,30102657,NaN,NaN,2,Appartement de luxe à vendre - EXCEPTIONNEL BA...,8,NaN,"2 pièces, 1 chambre, 39 m², Étage 2/0, Balcon,...",https://www.seloger.com/annonces/achat-de-pres...,NaN,NaN,10 Apr 2023 05:29:33,https://www.seloger.com/list.htm?projects=2&ty...,398,f
3,3204313,result,200720223,453,/professionnels/agences-immobilieres/paris-12e...,BLG IMMOBILIER,NaN,07 66 67 98 04,t,NaN,Lyon 3ème,99.003409,0,1,f,t,NaN,Montchat,Appartement,1,1,NaN,f,NaN,f,NaN,NaN,3795,NaN,1,69003,19,8,755000,7626.0,https://v.seloger.com/s/crop/341x256/visuels/1...,NaN,30000453,NaN,NaN,5,Appartement de luxe à vendre - Magnifique appa...,8,NaN,"5 pièces, 4 chambres, 99 m², Étage 2/–, Balcon...",https://www.seloger.com/annonces/achat-de-pres...,NaN,NaN,10 Apr 2023 05:34:30,https://www.seloger.com/list.htm?projects=2&ty...,398,f
4,3204089,result,200787361,490697,/professionnels/agents-commerciaux/franchevill...,Lelia Piquet Agence Welmo,https://v.seloger.com/s/width/40/logos/0/r/g/4...,06 22 86 25 59,t,NaN,Lyon 3ème,48.003491,0,1,f,t,NaN,Montchat,Appartement,1,1,NaN,f,NaN,f,NaN,NaN,1114,NaN,1,69003,3,6,220000,4583.0,https://v.seloger.com/s/crop/341x256/visuels/1...,NaN,30490697,NaN,NaN,2,"Appartement à vendre - Welmo, l'agence immobil...",2,NaN,"2 pièces, 1 chambre, 48 m², Étage 0/5, Balcon,...",https://www.seloger.com/annonces/achat/apparte...,NaN,NaN,10 Apr 2023 05:29:00,https://www.seloger.com/list.htm?projects=2&ty...,398,f

In [4]:
df = df.drop(['id','object', 'annonce_id', 'agency_id', 'agency_page', 'agency_contact_name', 'agency_img_url',
        'agency_phone_number', 'agency_has_email', 'agency_link', 'contact_email', 'description', 'is_redirected',
        'is_expired', 'latitude', 'longitude', 'picture_count', 'photos', 'price_decrease_percent', 'publication_id',
        'pricing_price_note', 'ref', 'title', 'url', 'video_url', 'virtual_visit_url', 'collected_at', 'input_url',
        'input_max_pages', 'input_annonce_details','main_picture','transaction_type', 'short_description', 
             'price_per_meter', 'is_exclusive', 'monthly_price', 'nature', 'estate_type_id', 
              'highlighting_level', 'address', 'bedrooms_count'],
             axis = 1)
df.shape

(573, 11)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 573 entries, 0 to 572
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   area                       570 non-null    float64
 1   business_unit              573 non-null    int64
 2   contact_is_private_seller  573 non-null    object
 3   district                   446 non-null    object
 4   estate_type                573 non-null    object
 5   insee_code                 0 non-null      float64
 6   postal_code                573 non-null    int64
 7   position                   573 non-null    int64
 8   price                      573 non-null    int64
 9   rooms                      573 non-null    int64
 10  tags                       573 non-null    object
dtypes: float64(2), int64(5), object(4)
memory usage: 49.4+ KB

In [6]:
df = df.drop('insee_code', axis = 1)

In [7]:
df.head()

,area,business_unit,contact_is_private_seller,district,estate_type,postal_code,position,price,rooms,tags
0,18.999023,1,f,Croix Paquet,Studio,69001,10,175000,1,"1 pièce, 19 m²"
1,19.000000,1,f,La Guillotière Sud,Studio,69007,9,133000,1,"1 pièce, 19 m², Étage 6/7, Garage"
2,38.999506,1,f,NaN,Appartement,69006,14,237000,2,"2 pièces, 1 chambre, 39 m², Étage 2/0, Balcon,..."
3,99.003409,1,f,Montchat,Appartement,69003,19,755000,5,"5 pièces, 4 chambres, 99 m², Étage 2/–, Balcon..."
4,48.003491,1,f,Montchat,Appartement,69003,3,220000,2,"2 pièces, 1 chambre, 48 m², Étage 0/5, Balcon,..."

In [8]:
tag_words = ''
for data in df['tags']:
    tag_words = tag_words + data + ","

unique = []
for word in tag_words.split(","):
    if word not in unique:
        unique.append(word)
        
unique.sort(reverse=True)
print(unique)

['9 pièces', '7 pièces', '6 pièces', '5 pièces', '4 pièces', '3 pièces', '2 pièces', '1 pièce', '0 pièce', ' – m²', ' Étage –/6', ' Étage –/1', ' Étage –/0', ' Étage 9/–', ' Étage 9/9', ' Étage 9/15', ' Étage 9/13', ' Étage 9/12', ' Étage 9/11', ' Étage 9/10', ' Étage 8/–', ' Étage 8/9', ' Étage 8/8', ' Étage 7/–', ' Étage 7/9', ' Étage 7/8', ' Étage 7/7', ' Étage 7/4', ' Étage 7/11', ' Étage 7/0', ' Étage 6/–', ' Étage 6/8', ' Étage 6/7', ' Étage 6/6', ' Étage 6/13', ' Étage 5/–', ' Étage 5/9', ' Étage 5/8', ' Étage 5/7', ' Étage 5/6', ' Étage 5/5', ' Étage 5/14', ' Étage 5/11', ' Étage 4/–', ' Étage 4/9', ' Étage 4/8', ' Étage 4/7', ' Étage 4/6', ' Étage 4/5', ' Étage 4/4', ' Étage 4/14', ' Étage 4/10', ' Étage 4/0', ' Étage 3/–', ' Étage 3/8', ' Étage 3/7', ' Étage 3/6', ' Étage 3/5', ' Étage 3/4', ' Étage 3/3', ' Étage 3/0', ' Étage 2/–', ' Étage 2/9', ' Étage 2/8', ' Étage 2/7', ' Étage 2/6', ' Étage 2/5', ' Étage 2/4', ' Étage 2/3', ' Étage 2/2', ' Étage 2/12', ' Étage 2/0', ' Étage 15/–', ' Étage 14/15', ' Étage 11/–', ' Étage 11/14', ' Étage 1/–', ' Étage 1/9', ' Étage 1/8', ' Étage 1/7', ' Étage 1/6', ' Étage 1/5', ' Étage 1/4', ' Étage 1/3', ' Étage 1/2', ' Étage 1/10', ' Étage 1/1', ' Étage 1/0', ' Étage 0/–', ' Étage 0/8', ' Étage 0/7', ' Étage 0/6', ' Étage 0/5', ' Étage 0/4', ' Étage 0/3', ' Étage 0/2', ' Étage 0/1', ' Étage 0/0', ' Viager libre', ' Terrasse', ' Piscine', ' Parking', ' Jardin', ' Garage', ' Box', ' Balcon', ' Ascenseur', ' 99 m²', ' 97 m²', ' 96 m²', ' 95 m²', ' 94 m²', ' 93 m²', ' 92 m²', ' 91 m²', ' 90 m²', ' 89 m²', ' 88 m²', ' 87 m²', ' 86 m²', ' 85 m²', ' 84 m²', ' 83 m²', ' 82 m²', ' 81 m²', ' 80 m²', ' 79 m²', ' 78 m²', ' 77 m²', ' 76 m²', ' 75 m²', ' 74 m²', ' 73 m²', ' 72 m²', ' 71 m²', ' 70 m²', ' 69 m²', ' 68 m²', ' 67 m²', ' 66 m²', ' 65 m²', ' 64 m²', ' 63 m²', ' 62 m²', ' 61 m²', ' 60 m²', ' 59 m²', ' 58 m²', ' 57 m²', ' 56 m²', ' 55 m²', ' 54 m²', ' 53 m²', ' 52 m²', ' 51 m²', ' 50 m²', ' 5 chambres', ' 49 m²', ' 48 m²', ' 47 m²', ' 46 m²', ' 45 m²', ' 44 m²', ' 43 m²', ' 42 m²', ' 41 m²', ' 40 m²', ' 4 chambres', ' 39 m²', ' 38 m²', ' 37 m²', ' 36 m²', ' 35 m²', ' 34 m²', ' 33 m²', ' 32 m²', ' 31 m²', ' 30 m²', ' 3 chambres', ' 3 balcons', ' 29 m²', ' 28 m²', ' 27 m²', ' 26 m²', ' 25 m²', ' 240 m²', ' 24 m²', ' 231 m²', ' 23 m²', ' 225 m²', ' 22 m²', ' 21 m²', ' 2 chambres', ' 2 balcons', ' 194 m²', ' 190 m²', ' 19 m²', ' 189 m²', ' 188 m²', ' 181 m²', ' 180 m²', ' 18 m²', ' 175 m²', ' 170 m²', ' 167 m²', ' 166 m²', ' 162 m²', ' 160 m²', ' 16 m²', ' 159 m²', ' 157 m²', ' 155 m²', ' 150 m²', ' 15 m²', ' 148 m²', ' 143 m²', ' 14 m²', ' 139 m²', ' 137 m²', ' 136 m²', ' 135 m²', ' 134 m²', ' 133 m²', ' 132 m²', ' 131 m²', ' 130 m²', ' 129 m²', ' 126 m²', ' 124 m²', ' 123 m²', ' 122 m²', ' 121 m²', ' 120 m²', ' 119 m²', ' 118 m²', ' 116 m²', ' 115 m²', ' 114 m²', ' 113 m²', ' 112 m²', ' 111 m²', ' 110 m²', ' 11 balcons', ' 109 m²', ' 107 m²', ' 106 m²', ' 105 m²', ' 104 m²', ' 103 m²', ' 102 m²', ' 101 m²', ' 100 m²', ' 1 chambre', '']

In [9]:
#the tag column
list_of_words = ['chambre', 'balcon', 'ascenseur', 'terrasse', "étage", 'jardin', 'garage',
                 'parking', 'box', 'piscine' ]

def split_columns(words, dataframe, researched_column):
    
    for word in words :
        liste = []

        for data, row in zip(dataframe[researched_column], range(dataframe.shape[0])) :

                if word.lower() in data.lower() :
                    splited_data = data.split(",")
                    for element in splited_data:
                        if word.lower() in element.lower():
                            liste.append(element)
                else :
                    liste.append(None)
        dataframe[word] = liste

In [10]:
split_columns(list_of_words, df, 'tags' )

In [11]:
df = df.drop(['tags'], axis = 1)
df

,area,business_unit,contact_is_private_seller,district,estate_type,postal_code,position,price,rooms,chambre,balcon,ascenseur,terrasse,étage,jardin,garage,parking,box,piscine
0,18.999023,1,f,Croix Paquet,Studio,69001,10,175000,1,None,None,None,None,None,None,None,None,None,None
1,19.000000,1,f,La Guillotière Sud,Studio,69007,9,133000,1,None,None,None,None,Étage 6/7,None,Garage,None,None,None
2,38.999506,1,f,NaN,Appartement,69006,14,237000,2,1 chambre,Balcon,Ascenseur,Terrasse,Étage 2/0,None,None,None,None,None
3,99.003409,1,f,Montchat,Appartement,69003,19,755000,5,4 chambres,Balcon,Ascenseur,None,Étage 2/–,None,None,None,Box,None
4,48.003491,1,f,Montchat,Appartement,69003,3,220000,2,1 chambre,Balcon,None,Terrasse,Étage 0/5,Jardin,None,Parking,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,61.111111,1,f,Jean Macé,Appartement,69007,17,330000,3,2 chambres,None,None,None,Étage 0/2,None,None,None,None,None
569,68.659201,2,f,Perrache-Le Confluent,Appartement neuf,69002,1,453700,3,None,None,Ascenseur,None,Étage 9/–,None,None,Parking,None,None
570,45.399270,2,f,Les Brotteaux-Bellecombe-Masséna,Appartement neuf,69006,6,448000,2,1 chambre,Balcon,None,None,None,None,None,None,None,None
571,133.009414,1,f,Gerland,Appartement,69007,21,876000,5,4 chambres,None,Ascenseur,None,Étage 3/–,None,Garage,None,None,None
572,86.221837,1,f,Sans Souci-Dauphiné,Appartement,69003,4,398000,4,3 chambres,Balcon,Ascenseur,None,Étage 2/6,None,None,Parking,None,None